/* General Settings */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Yanone+Kaffeesatz:wght@700&display=swap');

body {
  background-color: var(--bg-color-dark-blue);
  margin: 0;
}

/* Variables */

:root {
  --bg-color-dark-blue: #283579;
  --bg-color-light-blue: #3d80e5;
  --bg-color-light-green: #74992e;
  --bg-color-yellow: #efdc02; 
  --bg-color-gray: #444242;
}

/* Container for the form */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Title */

.container-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0 5.3vmax;
  margin: 4vmax 8vmin -1.5vmax;
  border-radius: 1.7rem;
}

h1 {
  font: 3.7vmax "Yanone Kaffeesatz", sans-serif; 
  text-align: center;
  letter-spacing: .04rem;
  word-spacing: .4rem;
  font-weight: bold;
  color: var(--bg-color-gray);
}

.img-title {
  position: relative;
  width: 30vmin;
  height: 30vmin;
  margin: -1.6vmax 2vmax -1.6vmax -1.6vmax;
  border-radius: 50%;
  user-select: none;
}

/* Form */

.inbox {
  background-color: var(--bg-color-gray);
  margin: 0 2vmax 2vmax;
  padding: 4vmax 2vmax 3vmax;
  font: 1.4vmax 'Fuzzy Bubbles', cursive;
}

.item {
  display: flex;
  align-items: center;
  margin: 1vmax;
  padding: 2vmax;
  background-color: var(--bg-color-light-blue);
  color: #fff;
}

.item:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  border: .15em solid var(--bg-color-yellow);
}

.checkbox {
  margin: 1.9vmin;
  width: 2.5vmax;
  height: 2.5vmax;
  accent-color: var(--bg-color-light-green);
}

.checkbox, label {
  cursor: pointer;
}

/* Images inside the form */

.icon {
  position: relative;
  width: 29vmin;
  height: 34vmin;
  margin: -6vmax 1vmax -4.5vmax 1vmax;
}

/* Button to check the results */

.button {
  display: flex;
  justify-content: center;
}

#btn-result {
  margin: 2vmax;
  padding: 2vmax 6vmax;
  border-radius: 10vmax;
  border: none;
  background-color: #fff; 
  color: var(--bg-color-gray);
  font: 4.8vmin "Yanone Kaffeesatz", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

#btn-result:hover {
  transform: scale(1.05);
}

/* Container for the result of the quiz */

.box {
  font: 1.5vmax 'Fuzzy Bubbles', cursive;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vmax auto;
  padding: 1vmax 3vmax;
  width: 50%;
  height: 50%; 
  background-color: var(--bg-color-light-green);
  border: 1em solid #fff;
  border-radius: 1.7rem;
}

h3 {
  line-height: 2em;
}

